* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --h1-font-size: 64px;
  --h2-font-size: 58px;
  --h3-font-size: 48px;
  --h4-font-size: 40px;
  --h5-font-size: 32px;
  --paragraph-1-size: 18px;
  --paragraph-2-size: 16px;
  --caption-size: 12px;
  --title-1-size: var(--h5-font-size);
  --title-2-size: 24px;
  --black: #1e1b1b;
  --orange: #ff6433;
  --purple: #661ce7;
  --green: #00d289;
  --darker-white: #e2e6e9;
  --lighter-white: #f2f2f2;
  --white: #ffffff;
}

.title-1 {
  font-size: var(--title-1-size);
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--black);
  letter-spacing: -0.03em;
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: 20px;
}

p {
  font-size: var(--paragraph-1-size);
}

button {
  border: none;
  border-radius: 12px;
  width: 203px;
  height: 64px;
  padding: 16px 40px;
  font-size: var(--paragraph-1-size);
}

.title-2 {
  font-size: var(--title-2-size);
}

.first-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.first-page .topmost-bar {
  width: 85%;
  margin: 2vh auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.topmost-bar .logo {
  margin: auto 0 auto 0;
}

.nav-right {
  display: flex;
  column-gap: 1.67vw;
}
.nav-right .thin-line {
  border-right: 2px solid #939191;
}

.topmost-bar .nav-right ul {
  list-style: none;
  display: inherit;
  column-gap: 2.07vw;
  font-size: var(--paragraph-2-size);
}
.nav-right ul li {
  width: max-content;
  margin: auto;
}

.nav-right .assistance {
  position: relative;
  display: flex;
  width: 175px;
  height: 50px;
}

.assistance .whatsapp {
  background: #00d289;
  font-size: 42px;
  color: white;
  align-self: center;
  justify-self: left;
}

.assistance .caption {
  position: absolute;
  font-size: 16px;
  color: aqua #1e1b1b;
  right: 0;
  left: auto;
}

.assistance .phone-number {
  font-size: var(--paragraph-1-size);
  align-self: flex-end;
  margin-left: auto;
  margin-right: 0;
}

.fa-solid {
  font-size: 45px;
}

header {
  display: flex;
  column-gap: calc(5px + 0.4vw);
  width: 85vw;
  margin: auto;
  padding-bottom: 2vh;
  min-height: 600px;
}

header .header-left {
  flex: 1;
  align-self: center;
}

.header-left .header-text {
  margin-bottom: 3.6vh;
}

.header-left .header-left-button {
  margin-bottom: 5.5vh;
}

.header-left button {
  background: var(--orange);
  color: var(--white);
}

.header-left .open-time {
  position: relative;
  display: flex;
  column-gap: 0.8vw;
  max-width: max-content;
  height: 48px;
}

.open-time .fa-regular {
  font-size: 30px;
  align-self: center;
  color: var(--darker-white);
}

.header-left .caption {
  position: absolute;
  left: calc(27px + 0.8vw);
  color: #939191;
}

.header-left .caption p {
  font-size: var(--paragraph-2-size);
}

.header-left .when-open {
  align-self: flex-end;
  font-size: var(--paragraph-1-size);
}

header .header-image-right {
  background: url("images/Image.png");
  background-position: center;
  background-size: cover;
  flex: 1;
  position: relative;
}

.header-image-right .service-img {
  position: absolute;
  width: 48%;
  aspect-ratio: 2.7;
  top: 58px;
  left: -36px;
}

.header-image-right .rating-img {
  position: absolute;
  width: 51.5%;
  aspect-ratio: 3.196;
  bottom: 50px;
  right: -25px;
}

.header-image-right img {
  width: 100%;
  height: 100%;
}

.quote-section {
  background: var(--darker-white);
  display: flex;
  min-height: 100vh;
}

.quote-section .quote-flexbox {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: auto;
  margin-top: 10vh;
  column-gap: 5vw;
}

.quote-flexbox .quote-left {
  width: 560px;
}

.quote-left .quote-quote {
  margin-bottom: 5.3vh;
}

.quote-left .features-div {
  margin-bottom: 6.5vh;
}

.quote-left .features-div .feature {
  width: 386px;
  display: flex;
  column-gap: 1vw;
  margin-bottom: 5.3vh;
}

.feature span {
  min-width: 47px;
  height: 47px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature span .fa-solid {
  font-size: larger;
}

.feature span img {
  width: 100%;
  height: 100%;
}

.feature .feature-point :first-child {
  font-size: var(--title-2-size);
  margin-bottom: 1vh;
}

.feature .feature-point :last-child {
  font-size: var(--paragraph-2-size);
}

.quote-left .know-more {
  display: flex;
  column-gap: 21px;
  align-items: center;
  margin-left: calc(47px + 1vw);
}

.know-more p {
  font-size: var(--paragraph-1-size);
}

.know-more span {
  display: inherit;
  height: 100%;
  align-items: center;
}

.quote-flexbox .quote-right {
  width: 628px;
}

.feature .quote-right .get-a-quote {
  margin-bottom: 3vh;
}

.quote-right .input-group {
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.quote-right .input-div {
  margin-bottom: 0.5vh;
}

.quote-right .input-div input {
  width: 624px;
  height: 72px;
  border: none;
  border-radius: 2px;
  padding-left: 40px;
  font-family: inherit;
  font-size: var(--paragraph-2-size);
}

.quote-right button {
  background: var(--orange);
  color: var(--white);
}

.process-section {
  display: flex;
  align-items: center;
  min-height: 85vh;
}

.flexbox-process {
  margin: auto;
  display: flex;
  column-gap: 12vw;
  flex-wrap: wrap;
  align-items: center;
  width: max-content;
}

.process-left {
  width: 534px;
  margin-bottom: 5vh;
}

.process-left h2 {
  font-size: calc(var(--h2-font-size) * 0.97);
}

.type-1-text {
  width: 437px;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

.process-left button {
  background: var(--orange);
  color: var(--white);
}

.each-point {
  --point-number-width: 72px;
  --point-number-margin-right: 24px;
  position: relative;
  margin-bottom: 16px;
}

.each-point .title-1 span {
  background: var(--purple);
  margin-right: var(--point-number-margin-right);
  width: var(--point-number-width);
  height: 72px;
  border-radius: 50%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.each-point .title-1 .small-circle {
  background-color: var(--white);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  position: absolute;
  top: 54px;
  left: 15px;
  opacity: 0.2;
  z-index: 1;
}

.process-right {
  width: 432px;
}

.point-content,
.point-content-no-boder {
  position: relative;
  margin-left: 36px;
  padding-left: calc(
    -21px + var(--point-number-margin-right) + var(--point-number-width)
  );
  font-size: var(--paragraph-1-size);
}

.point-content::before {
  content: "";
  border-left: 2px dashed var(--orange);
  position: absolute;
  top: 16px;
  height: 80%;
  left: 0;
}

.offer-section {
  background: var(--lighter-white);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexbox-offer {
  display: flex;
  flex-direction: column;
}

.flexbox-offer .top-content {
  margin: auto;
  width: 858px;
  margin-top: 2vh;
  margin-bottom: 6vh;
}

.flexbox-offer .top-content .small-header,
.flexbox-offer .top-content .bigger-header {
  text-align: center;
}

.services-flexbox {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2px;
  row-gap: 2px;
  grid-template-columns: repeat(2, 1fr);
}

.service-type-box {
  background: var(--white);
  flex: 1 0 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12vw;
  transition: all 500ms ease-in;
}

.service-type-box:hover {
  background: var(--orange);
  color: var(--white);
}

.service-type-box:hover .fa {
  color: white;
}

.service-type-box .title-2 {
  font-size: var(--paragraph-2-size);
  margin-top: 2vh;
}

.learn-more {
  margin: auto;
  margin-top: 2vh;
  width: 90%;
  display: flex;
  column-gap: 0.7vw;
  justify-content: flex-end;
  font-size: var(--paragraph-1-size);
}

/* .cta {
} */

.pictures-flexbox {
  position: relative;
  display: flex;
  height: 45vh;
  min-height: 250px;
}

.pictures-flexbox .car-picture {
  background: url("https://i.postimg.cc/N0155KLs/car-image.png");
  background-position: center;
  background-size: cover;
  flex: 1.2;
}

.pictures-flexbox .battery-cable-picture {
  background: url("https://images.unsplash.com/photo-1597766325363-f5576d851d6a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
}

.pictures-flexbox .get-in-touch {
  background: var(--orange);
  color: var(--white);
  position: absolute;
  top: 0;
  left: 17vw;
  bottom: 0;
  width: 710px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-in-touch .content {
  width: 90%;
  margin: auto;
}

.get-in-touch .content .contact-us {
  padding-top: 2vh;
}

.content .contact-us button {
  background: var(--black);
  color: var(--white);
}

.proffessional-experience {
  background: var(--lighter-white);
  min-height: 18vh;
  display: flex;
  column-gap: 9.6vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.proffessional-experience .each-point-2 {
  width: fit-content;
}

.proffessional-experience h2 {
  color: var(--purple);
}

.proffessional-experience .title-2 {
  font-size: var(--paragraph-2-size);
}

.brands {
  background: #fafafa;
}

.brands .brands-we-serve {
  text-align: center;
  margin: 0 auto 2.2vh auto;
  padding-top: 12vh;
}

.brands-row {
  display: flex;
  column-gap: 2vw;
  margin: 0 auto 38.6px auto;
  width: 66vw;
}

.brands-row .brand-logo {
  max-width: 11.6vw;
  min-width: 80px;
  height: 7vw;
  min-height: auto;
}

.brand-logo img {
  width: 100%;
  height: 100%;
}

.testimonials {
  background: var(--lighter-white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials h3 {
  max-width: 890px;
  margin-top: 7vh;
  margin-bottom: 4vh;
  text-align: center;
}

.testimonials .flexbox {
  display: flex;
  width: 75%;
  column-gap: calc(5px + 1vw);
}

.testimonials .testimonial-1,
.testimonials .testimonial-2 {
  background: var(--white);
  min-width: 300px;
  min-height: 376px;
  /* min-height: 280px; */
  border-radius: 6px;
  flex: 1;
}

.testimonial-1 .customer-info,
.testimonial-2 .customer-info {
  position: relative;
  display: flex;
  column-gap: calc(5px + 0.5vw);
  align-items: center;
  width: 80%;
  padding-top: 9vh;
  margin: auto;
  margin-bottom: 4vh;
}

.testimonials p {
  width: 80%;
  margin: auto;
}

.testimonials .icons {
  width: 75%;
  display: flex;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.testimonials .line-flexbox {
  width: fit-content;
  display: flex;
  column-gap: 1vw;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  flex: 1;
  color: #939191;
}

.line-flexbox span {
  transform: all ease-in-out 300ms;
}

.line-flexbox span:hover {
  color: var(--orange);
}

.testimonials .arrows {
  width: fit-content;
  margin: 0 0 0 auto;
  display: flex;
  column-gap: 2vw;
  justify-content: right;
}

.testimonials .arrows span {
  background: var(--white);
  transition: all ease-out 500ms;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.testimonials .arrows span:hover {
  background: var(--black);
  transform: scale(1.35);
  color: var(--white);
}

.testimonials .arrows span i {
  margin: auto auto;
  font-size: 20px;
}

.customer-info span {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.customer-info .name-location {
  display: flex;
  flex-direction: column;
  row-gap: calc(3px + 0.5vh);
  height: 60px;
}

.name-location p {
  width: fit-content;
  margin: 0;
}

.customer-info .location {
  color: #939191;
}

.FAQ {
  min-height: 100vh;
  background: var(--darker-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FAQ h3 {
  margin-top: 5vw;
  margin-bottom: 4vh;
}

.FAQ .FAQq {
  background: var(--white);
  width: 48vw;
  margin-bottom: 1.5vh;
}

.FAQq .header {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.FAQq .header span {
  background: var(--orange);
  width: 51px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.FAQq .header .hide-me {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.FAQq .content {
  overflow: hidden;
  max-height: 0;
  width: 0;
  margin: auto;
  margin-bottom: 2vh;
  -webkit-transition: width ease-out 300ms;
  -moz-transition: width 300ms;
  -ms-transition: width ease-out 300ms;
  -o-transition: width ease-out 300ms;
  transition: width ease-out 300ms;
}

.FAQq:hover > .header .title-2 {
  align-self: flex-end;
}

.FAQq:hover > .header .plus {
  display: none;
}

.FAQq:hover > .header .hide-me {
  display: flex;
  position: relative;
  width: 51px;
  height: 48px;
}

.FAQq:hover > .content {
  display: block;
  width: 90%;
  max-height: fit-content;
  margin: auto;
  margin-bottom: 2vh;
}

.FAQq .content p {
  width: 73%;
}

.FAQ-1 .content .question-1,
.FAQ-2 .content .question-2,
.FAQ-3 .content .question-3,
.FAQ-4 .content .question-4,
.FAQ-5 .content .question-5 {
  font-size: 18px;
  color: #939191;
}

footer {
  display: flex;
  flex-direction: column;
  column-gap: 4vw;
  justify-content: center;
  color: white;
}

.footer-top {
  background: var(--black);
  opacity: 0.98;
  min-height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-top .flexbox {
  display: flex;
  column-gap: 6vw;
}

.footer-left {
  width: 400px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

.footer-right .info .header {
  font-size: var(--paragraph-1-size);
  color: #939191;
  margin-bottom: 2vh;
}

footer nav {
  background: var(--black);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer .topmost-bar .logo {
  margin: 0;
}

footer .copyright {
  color: #939191;
  font-size: var(--paragraph-2-size);
}

@media screen and (max-width: 1260px) {
  .first-page .topmost-bar,
  header {
    width: 92%;
  }
  .quote-section {
    align-items: center;
  }

  .quote-section .quote-flexbox {
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
  }

  .quote-flexbox .quote-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quote-left .features-div {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vw;
    justify-content: space-evenly;
    margin: 0 auto 0 auto;
  }

  .quote-left .know-more {
    margin-bottom: 3vh;
  }

  .quote-flexbox .quote-left,
  .quote-flexbox .quote-right {
    width: fit-content;
  }

  .quote-flexbox .quote-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quote-left .quote-quote {
    margin-top: 2vh;
    justify-self: center;
    width: 90%;
    text-align: center;
  }

  .quote-right .input-group {
    margin-top: 2.5vh;
  }

  .quote-right .button-div {
    margin-bottom: 2vh;
  }

  .flexbox-process {
    width: 95%;
    column-gap: 2vw;
    justify-content: space-between;
  }

  .flexbox-process .process-left {
    flex: 1.1;
  }

  .flexbox-process .process-right {
    margin: auto;
  }

  .FAQ .FAQq {
    width: 60%;
  }
}

@media screen and (max-width: 935px) {
  .fa-solid {
    font-size: xx-large;
  }

  .flexbox-process {
    width: 90%;
  }
  .flexbox-process .process-left h2 {
    text-align: center;
  }

  .flexbox-process .process-left .type-1-text {
    width: 89%;
  }

  .flexbox-process .process-right {
    width: fit-content;
    margin: 0;
  }

  .service-type-box img {
    width: 30px;
  }

  .FAQ .FAQq {
    width: 70%;
  }
}

@media screen and (max-width: 866px) {
  * {
    --h1-font-size: 54px;
    --h2-font-size: 48px;
    --h3-font-size: 42px;
    --h4-font-size: 38px;
    --h5-font-size: 30px;
    --paragraph-1-size: 16px;
    --paragraph-2-size: 14px;
    --caption-size: 10px;
    --title-1-size: var(--h5-font-size);
    --title-2-size: 20px;
  }

  .input-group .input-div input {
    width: 70vw;
  }

  .flexbox-offer .top-content {
    width: 90%;
  }

  .pictures-flexbox .get-in-touch {
    width: 82.8%;
  }

  .testimonials .flexbox {
    width: 90%;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
  }
  .testimonials .flexbox .testimonial-1,
  .testimonials .flexbox .testimonial-2 {
    min-height: 250px;
  }

  .testimonial-1 .customer-info,
  .testimonial-2 .customer-info {
    padding-top: 25px;
  }

  .brands .brands-row {
    width: 90vw;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column-reverse;
  }

  header .header-image-right {
    flex: none;
    margin-top: 3vh;
    height: 50vh;
  }

  .header-image-right .service-img {
    left: -15px;
    width: 30%;
  }

  .header-image-right .rating-img {
    right: -15px;
    width: 40%;
  }

  .header-left {
    margin-bottom: 2.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .header-left .open-time {
    align-self: center;
  }

  .header-left .header-left-button {
    margin: 0;
  }
}

@media screen and (max-width: 915px) and (min-height: 1100px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 0;
    height: max-content;
  }

  header .header-image-right {
    flex: none;
    margin-top: 3vh;
    height: 65vh;
  }

  .header-image-right .service-img {
    width: 30%;
  }

  .header-image-right .rating-img {
    width: 40%;
  }

  .header-left {
    margin-bottom: 2.5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-self: stretch;
  }

  .header-left .open-time {
    align-self: center;
  }

  .header-left .header-left-button {
    margin: 0;
  }
}

@media screen and (max-width: 670px) {
  .topmost-bar {
    flex-direction: column;
  }

  .topmost-bar .nav-right {
    align-self: center;
  }

  .services-flexbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
  }

  .services-flexbox .service-type-box {
    min-height: 100px;
    flex: none;
  }

  .proffessional-experience {
    column-gap: 6vw;
  }

  .footer-top .flexbox {
    flex-direction: column;
  }

  .footer-top .flexbox .footer-left {
    width: 90%;
    margin: auto;
  }

  .footer-top .flexbox .footer-right {
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 498px) {
  * {
    --h1-font-size: 40px;
    --h2-font-size: 36px;
    --h3-font-size: 30px;
    --h4-font-size: 25px;
    --h5-font-size: 20px;
    --paragraph-1-size: 16px;
    --paragraph-2-size: 14px;
    --caption-size: 10px;
    --title-1-size: var(--h5-font-size);
    --title-2-size: 20px;
  }

  .header-image-right .service-img {
    left: -10px;
  }

  .header-image-right .rating-img {
    right: -10px;
  }

  .first-page .nav-right,
  footer .nav-right {
    display: none;
  }

  .quote-left .features-div .feature {
    width: 90%;
  }

  .brand-images-div {
    display: flex;
    flex-wrap: wrap;
  }

  .brand-images-div .brands-row {
    flex-wrap: wrap;
  }

  .brands-row .brand-logo {
    min-width: 100px;
    aspect-ratio: 1.667;
    height: auto;
  }
}
